body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #E4F8FF;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.leftcontainer {
    width: 25%;
    height: 100vh;
    background-color: #E4F8FF;
    border: solid 2px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.rightcontainer {
    width: 100%;
    height: 100vh;
    background-color: #E4F8FF;
    overflow: hidden;
}

/* Reset Button */
.reset {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-button {
    background: none;
    border: none;
    cursor: pointer;
}
#myImage {
    transition: transform 0.5s ease-out;
}
.reset-button img {
    width: 50px;
    height: 50px;
}

/* Dropdown Selections */
.options {
    width: 100%;
    height: 50%;
}
.select-group {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 3% 10%;
}
.select-field {
    width: 100%;
    font-family: Poppins, sans-serif;
    padding: 12px;
    border: 2px solid #000; 
    border-radius: 13px; 
    background-color: white;
    box-shadow: #fff 3px 3px 0 0, #000 3px 3px 0 1.5px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

/* Submit Button */
.submit {
    height: 20%;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 3% 10%;
}
.submit-button {
    width: 100%;
    font-family: Poppins, sans-serif;
    padding: 12px;
    border: 2px solid #000; 
    border-radius: 13px; 
    background-color: #B6F5D9;
    box-shadow: #05BCC2 3px 3px 0 0, #000 3px 3px 0 1.5px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

/* Logo */
.logo {
    width: 100%;
    height: 20%;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h2 {
    font-size: 30px;
    font-weight: bold;
}
h3 {
    margin-top: -30px;
    font-weight: 500;
}

/* Recently Added Section */
.recently-added {
    font-family: Poppins, sans-serif;
    justify-self: center;
    width: 90%;
    height: 27%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
}
.rec {
    width: 100%;
}

/* Fixing Duplicate ID issue & Ensuring Dynamic Content Works */
#recent-cars {
    display: flex;   
    gap: 15px;         
    flex-wrap: wrap;
    height: 160px;
    justify-content: center;
    align-items: center;
  }
  
  .recent-car-image {
    width: 250px;
    height: 150px;
    border-radius: 20px; 
    border: solid 2px;
  }
